<!DOCTYPE html>
<html>
<head>
    <title>Not Found</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>404 Not found</h1>
<hr/>
<i>NodeJS Server {{ version }}</i>
</body>
</html>